{% load staticfiles %}
<!DOCTYPE html>

<head>
<title>K. Evangelista Portfolio </title>
      
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<!--   // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
  
  <!-- Custom CSS -->

  <link rel='stylesheet' href="{% static 'css/portfolio.css' %}">

 
  <!-- jQuery -->
  <script type="text/javascript" src="static/js/Jquery.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- jQuery -->
    <script src="js/Jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- ekko-lightbox-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.js.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.css.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.js.map"></script>


<a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox">
    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
</a>






<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.6.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery-easing-min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/gruntfile.js"></script>

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Anton|Shadows+Into+Light|Dancing+Script|Lobster+Two|Domine|PT+Serif|Fjalla+One|Abril+Fatface|Ranga|Playfair+Display|Cinzel|Marck+Script|Alex+Brush|Bad+Script|Italianno|Rouge+Script|Ruthie|Euphoria+Script|Stalemate' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Handlee|Crafty+Girls|Annie+Use+Your+Telescope|Montez|Give+You+Glory|Calligraffitti|Vidaloka|Cantata+One|Alice|Marcellus' rel='stylesheet' type='text/css'>

    

<!--     // <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    // <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    // <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script> -->

<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 

 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

<script>$(function(){


    var $lis = $('ul').find('li'),
      length = $lis.length;

     $lis.each(function(index,item){
      $(item).attr('data-id',index);
     });


     function slider($lis,index,length){
      $lis.each(function(index,item){
        item.className = '';
      });
      index +=length;       
      $($lis[index%length]).addClass('active');
      $($lis[(index-1)%length]).addClass('left1');
      $($lis[(index-2)%length]).addClass('left2');
      $($lis[(index+1)%length]).addClass('right1');
      $($lis[(index+2)%length]).addClass('right2');
     }


     slider($lis,2,length);

     $lis.on('click',function(e){
      var id = parseInt($(e.target).parents('li').attr('data-id'));
      slider($lis,id,length);
     })

});

</script>


<script>$(document).ready(function() {
  $('.zoom-gallery').magnificPopup({
    delegate: 'a',
    type: 'image',
    closeOnContentClick: false,
    closeBtnInside: false,
    mainClass: 'mfp-with-zoom mfp-img-mobile',
    image: {
      verticalFit: true,
      titleSrc: function(item) {
        return item.el.attr('title') + ' &middot; <a class="image-source-link" href="'+item.el.attr('data-source')+'" target="_blank">image source</a>';
      }
    },
    gallery: {
      enabled: true
    },
    zoom: {
      enabled: true,
      duration: 300, // don't foget to change the duration also in CSS
      opener: function(element) {
        return element.find('img');
      }
    }
    
  });
});</script>



 <script>
// $(function () {
//     $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
// });
// </script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

  </style>




</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>



    <!-- Collect the nav links, forms, and other content for toggling -->
<!--       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-pills">
          <li>
            <a class="page-scroll" href="">Home</a>
          </li>
        
          <li>
            <a class="page-scroll" href="photography/">Contact</a>
          </li>
        </ul>
      </div>
  </div>
 </nav> --> 
<!-- <body id="page-top" data-spy="scroll" data-target=".navbar">


<nav class="navbar navbar-default">
  <div class="container-fluid"> -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div> -->
<!--           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav nav-pills nav-stacked">
          <li>
          	<a class="page-scroll" href="#doctor-site"> <img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/doctorwb-1_zpsymx8zahw.jpg"></a>
          </li>
          <li>
          	<a class="page-scroll" href="#about-me"><img src="https://www.w3schools.com/css/trolltunga.jpg"></a>
          </li>
          <li>
          	<a class="page-scroll" href="#projects"><img src="https://www.w3schools.com/css/trolltunga.jpg"></a>
          </li>
          <li>
          	<a class="page-scroll" href="#contact">Contact</a>
          </li>
      	</ul>
      </div>
  </div>
 </nav>
 -->



<section class ="icons">
 <!-- Page Content -->
    <div class="container">

        <div class="row">


        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#gsc-container">
                    <img class="img-responsive" src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/clip-gsc_zpszzusiusj.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#city-xcape">
                    <img class="img-responsive" src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/cityxcape-clip_zpsl10htc4e.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#mealquest">
                    <img class="img-responsive" src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/clip-mealquest_zpshalb4rzx.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/clip-droffice_zps95j6wkag.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/clip-piano_zpslwekknpu.jpg" alt="">
                </a>
            </div>
        </div>  
        </div>

      </section>

	<!-- GSC WEB -->
        <section id="gsc-container">
          <div id="gsc-title">
          General Systems Corporation Website Design

          <center><img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-laptop_zps0hw3omaz.jpg"/>
          </center>
</section>
          
          <section id="gsc-container-2" class="gsc-container-2">
          <div id="gsc-info">
            

            <h3>Info</h3>
            Kaye was asked to revamp the company website as it was last redesigned in the 80s.
            <br>
            <br>
            <h3>Design</h3>
            The site was created on Squarespace as the platfrom. The homepage image was created with Adobe Photoshop and Photoshop Illustrator. The purpose of this website is an informational site for new potential clients.
            <br>
            Link here <a href="http://www.generalsystems.com">General Systems</a>

            <br>
            <br>

<!-- ekko-lightbox-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.js.map"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.css.map"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.js.map"></script>





<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="row">
            <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
            </a>
        </div>
        <div class="row">
            <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
            </a>
        </div>
    </div>
</div>
            <!--  <div class="zoom-gallery">
  

  Width/height ratio of thumbnail and the main image must match to avoid glitches.

  If ratios are different, you may add CSS3 opacity transition to the main image to make the change less noticable.

   -->

          <!-- <img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-5_zpsdjbwf6za.jpg"/>
             &nbsp;  &nbsp;  &nbsp;<img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-4_zpshjnmtyab.jpg"/>
             &nbsp;  &nbsp;  &nbsp;<img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-3_zpsvcfh1r9r.jpg"/> -->





</section>


  <!-- <!-- CityXscape 
    <section id="city-xcape" class="city-xcape" >
        <div class="city-container">
      
          <div id="city-title">
          City Xcape Landing Page
          </div>
          
          <div id="city-image">
            <br>
              <div class="w3-content w3-display-container">
                <img class="mySlides" src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/xcape-full-11_zpsjtw1spjw.jpg" style="width:100%">
                <img class="mySlides" src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/xcape-full-12_zpstyeehjgw.jpg" style="width:100%">
                <img class="mySlides" src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/xcape-full13_zpstg3p1sys.jpg" style="width:100%">


                <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-display-right" onclick="plusDivs(1)">&#10095;</button>
              </div>

              <script>
              var slideIndex = 1;
              showDivs(slideIndex);

              function plusDivs(n) {
                showDivs(slideIndex += n);
              }

              function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) {slideIndex = 1}    
                if (n < 1) {slideIndex = x.length}
                for (i = 0; i < x.length; i++) {
                   x[i].style.display = "none";  
                }
                x[slideIndex-1].style.display = "block";  
              }
              </script>
          </div>
          <div id="city-info">
            <h3>Info</h3>
            <br>
            <br>
            This was a small design project requested by a friend as a possible design for an app.
            <h3>Design</h3>
            <br>
            <br>
            This design was created in photoshop using stock photos and a few Adobe Illustrator icons that were already created. 
          </div>
        </div>
    </section> 
 -->


  <!-- cityXcape-->
        <section id="city-xcape">
          <div id="city-title">
          City Xcape Landing Page

          </div>
</section>
          
          <section id="city-container-2">
          <div id="city-info">
            

            <h3>Info</h3>
            Kaye was asked by a colleague to create a basic landing page with existing graphics and logo. 
            <br>
            <br>
            <h3>Design</h3>
            This landing page was requested to have three sections with a scrolling page. The landing page has three main sections. This was created with given graphics such as the icons and logo, and the concept was put together by Kaye in Adobe Photoshop.
            <br>
            <br>
</div>
            <center>
              <div id="city-image">
            <br>
              <div class="w3-content w3-display-container">
                <img class="mySlides" src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/xcape-full-11_zpsjtw1spjw.jpg" style="width:100%">
                <img class="mySlides" src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/xcape-full-12_zpstyeehjgw.jpg" style="width:100%">
                <img class="mySlides" src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/xcape-full13_zpstg3p1sys.jpg" style="width:100%">


                <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-display-right" onclick="plusDivs(1)">&#10095;</button>
              

              <script>
              var slideIndex = 1;
              showDivs(slideIndex);

              function plusDivs(n) {
                showDivs(slideIndex += n);
              }

              function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) {slideIndex = 1}    
                if (n < 1) {slideIndex = x.length}
                for (i = 0; i < x.length; i++) {
                   x[i].style.display = "none";  
                }
                x[slideIndex-1].style.display = "block";  
              }
              </script>
            </div>
          </center>
        



</section>



  <!-- Meal Quest -->
    <section id= "mealquest" class="mealquest">
   
          <div id="mealquest-title">
          Mobile Concept Design
</div>
 
    </section>
      <section id="mealquest-2">
          <div id="mealquest-info">
            <h3>Info</h3>
            Kaye designed a basic design for a mobile app. The concept of the app is to request for food trucks in the nearby area.
            <br>
            <br>
            <h3>Design</h3>
            The design was created in Adobe Photoshop and Illustrator with red, white, and black as the theme colors. 
            <br>

          </div>
    <div class="wrap">
    
          <ul>
      <li class="left1">
        <img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/mealquest2_zpsibltlsaf.jpg">
      </li>
      <li class="active">
        <img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/mealquest3_zpsznn2xp58.jpg">
      </li>
      <li class="right1">
        <img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/mealquest1_zpsmgx7smx1.jpg">
      </li>
    </ul>
      </div>
     </section>




      <!-- Basic Web Design -->
        <section id="basic-container">
          <div id="basic-title">
          General Systems Corporation Website Design

</section>
          
          <section id="basic-container-2" class="basic-container-2">
          <div id="basic-info">
            

            <h3>Info</h3>
            These are simple landing pages designed as a side project.
            <br>
            <br>
            <h3>Design</h3>
            The designs were created as an HTML/CSS file and photoshop. They have the same basic idea with a search and information on each page.
            <br>
            <a href="https://github.com/ohhkkaye?tab=repositories">Github</a>

            <br>
            <br>

<div id="wrapper">
    <h1>Super Simple Lightbox</h1>
    <p>Our super simple lightbox demo. Here are the image links:
        <ul>
            <li>
                <a href="https://farm7.static.flickr.com/6130/5935338876_47b61c93a5.jpg" class="lightbox_trigger">
                <img src="https://farm7.static.flickr.com/6020/5924329054_4bdc419c3a_o.jpg"/>
                </a>
            </li>
            <li>
                <a href="https://farm7.static.flickr.com/6020/5924329054_4bdc419c3a_o.jpg" class="lightbox_trigger">
                <img src="https://farm7.static.flickr.com/6020/5924329054_4bdc419c3a_o.jpg"/>
                </a>
            </li>
            <li>
                <a href="https://farm7.static.flickr.com/6020/5931933181_ddb737e528.jpg" class="lightbox_trigger">
                Picture 3
                </a>
            </li> 
        </ul>
     </p>
</div> <!-- #/wrapper -->
<div id="lightbox">
    <p>Click to close</p>
    <div id="content">
        <img src="#" />
    </div>
</div>










<!-- 
<div class="row">
  <div class="column">
    <img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-5_zpsdjbwf6za.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-5_zpsdjbwf6za.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-5_zpsdjbwf6za.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="img4.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
        <img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-5_zpsdjbwf6za.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext"></div>
        <img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-5_zpsdjbwf6za.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext"></div>
        <img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-5_zpsdjbwf6za.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-5_zpsdjbwf6za.jpg" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- <img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-5_zpsdjbwf6za.jpg"/>
             &nbsp;  &nbsp;  &nbsp;<img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-4_zpshjnmtyab.jpg"/>
             &nbsp;  &nbsp;  &nbsp;<img src="http://i1244.photobucket.com/albums/gg567/ohhkkaye/gsc-3_zpsvcfh1r9r.jpg"/> -->

 -->

</section>
<script>$(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
});</script>
</body>




</body>
</html>